<div class="forum-post">
    <div class="post-image-container">
        <h6 class="post-image-heading">Image Title</h6>
        <img src="../../assets/img/sample_forum_image.png" alt="sample" class="post-image">
    </div>
    <div class="post-body-container">
        <h6 class="post-body-heading">Author</h6>
        <p class="post-text">{{post?.postBody}}</p>
    </div>
    <div class="post-button-container">
        <button class="post-button">Comments</button>
        <button class="post-button">Edit</button>
    </div>
</div>