.forum-post {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-family: sans-serif;
    border-radius: 40px;
    border: solid;
    margin-top: 20px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
}

.post-image-container {
    display: flex;
    flex-flow: column;
    padding: 10px;
    height: 200px;
    margin-top: 10px;
    border: none;
    align-items: center;
}

.post-image-heading {
    font-size: 25px;
    margin-bottom: 5px;
    padding: 25px;

}

.post-image {
    margin-top: 5px;
    width: 200px;
    height: 170px;
    margin-bottom: 10px;
}

.username-link {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: .5 px solid;
    font-weight: bold;
}

.post-body-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    padding: 10px;
    height: 150px;
    border: none;
}

.post-body-heading {
    font-size: 25px;
    margin-bottom: 15px;
}

.post-text {
    font-size: 25px;
}

.post-button-container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 10px;
    align-self: center;
}

.post-button {
    height: 40px;
    width: 80px;
    margin: 14px;
    flex-grow: 1;
    transform: scale(1.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: .5 px solid;
    font-weight: bold;
}