<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <div class="register-form">
        <div class="register-form-items">
            <input name="username" type="text" formControlName="username" placeholder="Username">
            <input name="password" type="password" formControlName="password" placeholder="Password">
            <input name="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            <button [disabled]="!registerForm.valid" class="submit">Register</button>

            <div class="invalid-feedback" *ngFor="let errorMessage of getValidationErrors()">{{errorMessage}}</div>
        </div>
    </div>
</form>

<!-- TODO: add labels for the inputs in this and login component -->