    <header class="nav-heading">
        <img class="logo" src="../../assets/img/logo.png" alt="logo">
        <!-- TODO: put the logo in an anchor tag -->
        <nav>
            <ul class="nav__links">
                <li><a routerLink="/forums">All Forums</a></li>
                <li *ngIf="accountService.currentUser$ | async"><a routerLink="my-favorites">Favorites</a></li>
            </ul>
        </nav>
        <a class="cta" routerLink="/login-page" *ngIf="!(accountService.currentUser$ | async)"><button>Log In</button></a>
        <a class="cta" routerLink="/register" *ngIf="!(accountService.currentUser$ | async)"><button>Register</button></a>
        <a class="cta" routerLink="/register" *ngIf="accountService.currentUser$ | async" (click)="logout()"><button>Log Out</button></a>
        <!-- TODO: implement log out functionality -->
    </header>