* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

.nav-heading {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 5%;
}

.logo {
    cursor: pointer;
    max-width: 5%;
    max-height: 5%;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: gray;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(4, 10, 11, 0.8);
}